.header3 {
    height: 44px;
    background-color: #0D6EFD;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1) !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1)) !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.component{
    cursor: pointer;
    transition: all 1s;
}

.componentText {
    font-size: 0.813;
    font-family: 'Konkhmer Sleokchher';
}

.admition {
    /* Admission Open */

    position: absolute;
    width: 180px;
    height: 23px;
    left: 18%;
    top: 25%;

    font-family: 'Konkhmer Sleokchher';
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #0D6EFD;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 100;

}


.link-67 {
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
    /* padding: 10px 20px; */
    position: relative;
    display: inline-block;
  }
  
  .link-67::before,
  .link-67::after {
    content: "";
    position: absolute;
    background-color: #FFF;
    width: 0%;
    height: 2px;
    bottom: 0;
    transition: width 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .link-67::before {
    left: 0;
  }
  
  .link-67::after {
    right: 0;
  }
  
  .link-67:hover::before,
  .link-67:hover::after {
    width: 100%;
  }